* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

.health-bar {
    width: 200px;
    height: 10px;
    background-color: #e3dede;
    border: 1px solid #000;
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
}

.health {
    height: 100%;
    background-color: #f00;
    width: 100%; /* Ban đầu thanh máu đầy */
}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10; /* Đảm bảo thanh máu nằm trên canvas */
}

.logo{
    display: flex;
    position: absolute;
    left: 50%;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}
.logo img{
    width: 50%;
}
.skill{
    display: flex;
    justify-content: space-evenly;
}
.player-hub {
    position: absolute;
    top: 20px; /* Có thể điều chỉnh tùy theo vị trí bạn muốn */
    left: 20px; /* Có thể điều chỉnh tùy theo vị trí bạn muốn */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 300px; /* Có thể điều chỉnh */
}

.hub-item {
    margin: 5px 0;
}

.health {
    height: 10px;
    background-color: green; /* Màu cho thanh sức khỏe */
    transition: width 0.5s; /* Hiệu ứng chuyển động */
}

.experience {
    height: 10px;
    background-color: rgb(64, 64, 238); /* Màu cho thanh kinh nghiệm */
    transition: width 0.5s; /* Hiệu ứng chuyển động */
}
.player-gold img{
    width: 15px;
    height: 15px;
}